html{
  height: 95%;
}
body {
  min-height: 95%;
}


html, body {
    font-family: 'PTSansNarrowRegular';
    color: white;
}

body {
    background-color: black; 
    height: 95%; 
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.8;
}

#container {
    height: 100%;
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

#header {
    height: 150px;
    width: 100%;
    top: 0px;
    padding-top: 8px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #cccccc;
    box-shadow: 0px 20px 50px #111111;
}


#header h1 a {
    color: white;
    text-decoration: none;
}

#header-title-block {
    left: 8px;
    position: absolute;
    top: 5px; 
    height: 100px;
    width: 475px;
    display: inline-block;
}

#header-name {
    color: white;
    display: block;
    height: 55%;
    width: 100%;
    font-size: 65px;
    font-weight: bold;
    margin: 5%;
}

#header-sub {
    color: white;
    display: block;
    height: 25%;
    width: 100%;
    font-size: 22px;
    margin: 5%;
}

#header-navigation {
    position: absolute;
    right: 8px;
    top: 5px;
    display: inline-block;
    height: 85px;
    width: 750px;
    margin-top: 40px;
}

.header-navigation-item {
    height: 95%;
    margin-right: 2.5%;
    background-color: #333333;
    opacity: 0.8;
    display: inline-block;
    line-height: 100%;

}

.header-navigation-item:hover {
    background-color: #444444;
}
.header-navigation-item:hover .header-navigation-item-text{ opacity: 0.8; }

.header-navigation-item-text {
    font-size: 25px;
    line-height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}

#header-navigation-classes {
   width: 80px; 
}

#header-navigation-projects {
   width: 80px; 
}

#header-navigation-art {
   width: 80px; 
}

#header-navigation-blog {
   width: 80px; 
}

#header-navigation-resume {
   width: 80px; 
}


#content-container {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 25px;  
    overflow: scroll;
    background-color: #000000;
    opacity: 0.8;
    border: 1px solid #cccccc;
}

#content {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;


}

.index-photo {
    display: block;
    position: absolute;
    left: 125px;
    top: 125px;
    height: 400px;
    width: 300px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.index-content {
    display: block;
    position: relative;
    left: 500px;
    top: 125px;
    height: 400px;
    width: 500px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #333333;
    border-radius: 5px;  
}

.index-link {
    display: block;
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
    left: 15%;
}

.stretch 
{
    width:100%;
    height:100%;
}

.stretch_to_fit 
{
    width:100%;
}

.stretch_project 
{
    left: 2%;
    top: 2%;
    width:96%;
    height:96%;
    position: absolute;
}


.info_paragraph
{
position: relative;
left: 3%;
top: 0px;
height: auto;
width: 80%;
text-align: left;
font-size: 13px;
}

.info_header
{
position: relative;
left: 4%;
top: 0px;
height: auto;
width: 70%;
text-align: left;
font-size: 13px;
font-weight: bold;

}

.classes_year
{
    position: relative;
    display: block;
    left: 10%;
    top: 0px;
    width: 80%;
    height: 500px;

}

.classes_semester
{
    position: absolute;
    display: block;
    top: 70px;
    left: 10%;
    width: 40%;
    height: 420px;
    margin-bottom: 50px;

}

#classes_semester_fall
{
    left: 10%;
}

#classes_semester_spring
{
    left: 60%;
}

.semester_title
{
    position: relative;
    display: block;
    left: 20px;
    top: 0px;
    height: 30px;
    width: auto;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-bottom: -30px;
    margin-top: 20px;
}

.classes_title
{
    position: absolute;
    display: block;
    left: 10px;
    top: -10px;
    height: auto;
    width: auto;
    font-size: 36px;
    font-weight: bold;

}

.classes_course
{
    position: relative;
    display: block;
    left: 20px;
    top: 10%;
    height: 60px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}

.course_title
{
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: auto;
    width: 90%;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.course_description
{
    position: absolute;
    display: block;
    left: 0px;
    top: 40px;
    height: auto;
    width: 90%;
    font-size: 16px;
    text-align: left;
}

.projects_section
{
    position: relative;
    display: block;
    left: 3%;
    top: 0px;
    width: 94%;
    height: 750px;
    margin-bottom: 50px;
}

.projects_title
{
    position: relative;
    display: block;
    left: 5%;
    top: -10px;
    height: auto;
    width: 70%;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid;
    border-color: #444444;
    text-align: left;
    padding-bottom: 1px;

}
.projects_column
{
    position: relative;
    display: inline-block;
    width: 49%;
    margin-bottom: 50px;
    margin-top: 25px;

}

#projects_column_left
{
}

#projects_column_right
{
}

.projects_project
{
    position: relative;
    display: block;
    top: 0px;
    left: 5%;
    height: 125px;
    width: 90%;
    margin-bottom: 15px;
    border-color: #dddddd;
    border: 1px;


}

.projects_project:hover .project_title{ color: #333333; border-top: 1px solid;}
.projects_project:hover .project_description{ color: #333333; }

.project_image
{
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    height: 100px;
    width: 100px;
}

.project_title
{
    position: absolute;
    display: block;
    text-align: left;
    top: 0px;
    left: 0px;
    height: 135px;
    width: 70%;
    margin-left: 125px;
    margin-top: 15px;
    color: white;
    font-size: 24px;
}

.project_description
{
    position: absolute;
    display: block;
    text-align: left;
    top: 0px;
    left: 0px;
    height: 135px;
    width: 70%;
    margin-left: 125px;
    margin-top: 50px;
    color: white;
    font-size: 18px;

}

.projects_project:hover
{
    background-color: #eeeeee;
    border: 1px solid;
    border-color: #dddddd;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

}


.resume-button 
{
    position: relative;
    display: inline-block;
    height: 150px;
    line-height: 150px;
    width: 30%;
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: #333333;
    text-align: center;
    padding-bottom: 1px;
    top: 50px;
    box-sizing: border-box;
    margin-bottom: 60px;


}

.resume-button:hover
{
    background-color: #44444444;
    border: 1px solid #cccccc;

}
.resume-plain-text 
{
    margin-left: 15%;
    margin-right: 10%;
}

.resume-pdf
{

}

.resume-row
{
    display: block;
    position: relative;
    width: 50%;
    left: 25%;

}

.resume-row-title
{
    border-bottom: 1px solid #333333;
}

.resume-left
{
    position: relative;
    display: inline-block;
    left: 0;
    line-height: 100%;
    height: 100%;

}

.resume-right
{
    position: relative;
    display: inline-block;
    right: 0;
    line-height: 100%;
    height: 100%;
    float: right;


}

.resume-row li
{
    left: 0;
    line-height: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
}

.resume-row b
{
    font-size: 22px;

}





